*{
    background-color: lavender;
}

nav {
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link,
.blog-link {
    background-color: aliceblue;
    text-decoration: none;
    margin: 1rem;
}

.nav-link:hover {
    color: chartreuse;
}

nav .active {
    color: black;
}

section {
    display: grid;
    grid-gap: 1rem;
}

article {
    background-color: aliceblue;
    padding: 1rem;
}

article h3, p {
    background-color: aliceblue;
}

@media screen and (min-width: 600px) {
    section {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 992px) {
    section {
        grid-template-columns: auto auto auto;
    }
}