*{
    background-color: lavender;
}

nav {
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    background-color: aliceblue;
    text-decoration: none;
    margin: 1rem;
}

.nav-link:hover {
    color: chartreuse;
}

nav .active {
    color: black;
}